head
	title
	meta(charset="UTF-8")
	link(rel="stylesheet", href="css/uikit.css")
	link(rel="stylesheet/less", href="css/style.less")
	link(rel="stylesheet", href="css/weather-icons.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic")
	script(src="js/less.min.js")
	script(src="js/jquery-2.2.4.min.js")
	script(src="js/uikit.js")
	script(src="js/uikit-icons.js")
	script(src="js/script.js")